@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    background-color: #dad8d8;
    height: 70px;
    width: 100vw;
    align-items: center;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
}
.nav-logo img{
    height: 9em;
    padding-top: 5px;
    margin: 30px;
    width: 10em;
    cursor: pointer;
}
.nav-items{
    display: flex;
}
.nav-lists{
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
}
.nav-links{
    text-decoration: none;
    padding: 10px 15px;
    color: #111;
}
.nav-links:hover{
    transition: .3s;
    color: rgb(218, 57, 57);
}
.btns{
    margin-right: 24px;
}
.btn{
    text-decoration: none;
    font-size: 1.2rem;
    padding-top: 4px;
    color: black;
    background-color: rgb(218, 57, 57);
    font-weight: bold;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 7px;
    margin: 0px 2px;
}
.btn:hover{
    color: rgb(75, 21, 21);
    transition: .3s;
    background-color: rgb(230, 219, 199);
}
.main-content{
    overflow: hidden;
    position: relative;
    display: flex;
    height: 55vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-content img{
    z-index: -1;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container h1{
    color: #332e5c;
    font-size: 2.3rem;
    font-weight: bold;
}
.main-container p{
    font-size: 1.1rem;
    padding: 2px 15em;
    text-align: center;
    font-weight: bold;
    margin: 4px 0px 20px 0px;
}

.heading-common{
    text-align: center;
    font-size: 2.1rem;
    margin-top: 50px;
    font-weight: bold;
    text-decoration: underline;
}
.services-container{
    display: flex;
    justify-content: center;
    margin: 15px 25px;
}
.common-box{
    background-color: #eeeeee;
    border: 2px solid black;
    margin: 10px 10px;
    padding: 10px 35px;
    height: 250px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 434px;
}
.common-box a{
    text-align: center;
    margin-top: 20px;
}
.common-box h1{
    font-size: 1.8rem;
}
.common-box p{
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}


.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 150px;
}
.common-about{
    border: 2px solid black;
    background-color:rgb(243, 171, 120);
    margin: 10px 10px;
    padding: 20px 50px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 455px;
    justify-content: center;
}
.common-about h1{
    font-size: 1.9rem;
}
.common-about p{
    margin-top: 8px;
    font-size: 1.1rem;
    font-weight: bold;
}



.places-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.branch-box{
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.branch-box img{
    height: 200px;
    width: 308px;
    border-radius: 12px;
}
.branch-box h1{
    margin: 5px 0px;
}
.branch-box a{
    margin-top: 14px;
}


.order-status{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-form{
    display: flex;
    background-color: #e9e3e3;
    flex-direction: column;
    width: 45%;
    border: 2px solid black;
    padding: 40px 40px 0px 40px;
    margin: 25px 0px;
    border-radius: 7px;
}
.order-form label{
    font-size: 1.1rem;
    font-weight: bold;
}
.order-form input{
    border-radius: 4px;
    margin-bottom: 10px;
}
.order-form a{
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 50%;
}


.footer{
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: rgb(187, 184, 184);
    padding: 5px 0px;
}